

.hero {
	margin-top: 10rem;
	margin-bottom: 4rem;
}

.home .hero img {
	margin: 3rem auto 5rem;
}

.home h1 {
	opacity: 0;
	margin: 0;
	height: 0;
}

.home .hero .description {
	margin-bottom: 3rem;
}

.content.content code {
	color: #0064c8;
}

.content.content pre {
	padding: 0.75rem 1.25rem;
	font-size: 0.95rem;
}

.content.content pre code {
	color: #3e3e3e;
}

/* div[class~="language-php"]::before {
	content: "php";
} */

div[class*="language-"]::before {
	color: hsla(0, 0%, 0%, 0.4);
}

.token.punctuation {
	color: #3e3e3e;
}

.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
	color: #345dd1;
}

.token.class-name, .token.constant, .token.property, .token.symbol {
	color: #00811d;
}

.token.entity, .token.operator, .token.url {
	color: #3488da;
}

.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
	color: #dd4600;
}

.token.boolean, .token.function, .token.number {
	color: #c90396;
}

.token.attr-name, .token.deleted, .token.namespace, .token.tag {
	color: #2958b7;
}

.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
	color: #6e6e6e; // #e94a00;
}
