

.hero {
	margin-top: 10rem;
	margin-bottom: 4rem;
}

.home .hero img {
	margin: 3rem auto 5rem;
}

.home h1 {
	opacity: 0;
	margin: 0;
	height: 0;
}

.home .hero .description {
	margin-bottom: 3rem;
}